/CleanCodeApplication/.classpath
/CleanCodeApplication/.project
/CleanCodeApplication/.settings/
/CleanCodeApplication/target/
/CleanCodeApplication/dependency-reduced-pom.xml
/CleanCodeApplication/.idea/encodings.xml
/CleanCodeApplication/.idea/compiler.xml
/CleanCodeApplication/.idea/vcs.xml
/CleanCodeApplication/.idea/workspace.xml
/CleanCodeApplication/.idea/misc.xml
/CleanCodeApplication/.idea/jarRepositories.xml
